extends ../../layout

block content
    div.main
        //- Player List
        aside
            h5.heading Player List
            div.player-list
                ul(class="list-group")
                    li(class="list-group-item") Du
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                        div.view(class="btn btn-outline-dark")
                            <span class="material-icons">visibility</span>
                        div.view(class="btn btn-outline-dark")
                            <span class="material-icons">visibility_off</span>
                    li(class="list-group-item") Seb
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                        div.view(class="btn btn-outline-dark")
                            <span class="material-icons">visibility</span>
                        div.view(class="btn btn-outline-dark")
                            <span class="material-icons">visibility_off</span>
                    li(class="list-group-item") Daniel
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                        div.view(class="btn btn-outline-dark")
                            <span class="material-icons">visibility</span>
                        div.view(class="btn btn-outline-dark")
                            <span class="material-icons">visibility_off</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                        div.view(class="btn btn-outline-dark")
                            <span class="material-icons">visibility</span>
                        div.view(class="btn btn-outline-dark")
                            <span class="material-icons">visibility_off</span>

        //- Inventory
        div.inventory
            //- Money
            article.money
                h3 Money
                div.money
                    div(class="input-group")
                        input(type="number", class="form-control disabled", disabled)
                        span(class="input-group-text") €
                    div(class="input-group")
                        input(type="number", class="form-control")
                        input(type="button", value="Post", class="btn btn-outline-secondary")

            //- New Item
            article.new-item
                form
                    fieldset.new-item-form
                        legend New Item
                        div
                            div(class="form-floating")
                                input#new-name(type="text", name="name", placeholder="Name", class="form-control")
                                label(for="new-name") Name
                            div(class="form-floating")
                                input#new-quantity(type="number", name="quantity", placeholder="0", class="form-control")
                                label(for="new-quantity") Quantity
                            div(class="form-floating")
                                input#new-categories(type="text", name="categories", placeholder="#categorie1#categorie2", class="form-control")
                                label(class="form-label") Categories
                        div
                            div(class="form-floating")
                                textarea#new-description(name="description", placeholder="Enter a description for this item", class="form-control")
                                label(for="new-description") Description
                            div(class="form-floating")
                                textarea#new-notes(name="notes", placeholder="Enter your notes for this item", class="form-control")
                                label(for="new-notes") Notes

            //- Items
            article.items
                h3 Items
                //- List of Items
                div(class="card")
                    div.item(class="card-body")
                        h5(class="card-title") Name
                        p(class="card-text") Description: Enter a description for this item
                    div(class="card-footer")
                        small(class="text-muted") s
                        //small(class="text-muted") Quantity
                        //label Name
                        //    div Hans
                        //label Quantity
                        //    div 12
                        //label Categories
                        //
                        //label Description
                        //    div
                        //label Notes
                        //    div Enter your notes for this item
