extends ../../layout

block content
    div.main
        //- Player List
        aside
            h5.heading Player List
            div.player-list
                ul(class="list-group")
                    li(class="list-group-item") Du
                        div.kick(class="btn btn-outline-danger")
                            <span class="material-icons">cancel</span>
                        //- div.view(class="btn btn-outline-dark")
                        //-     <span class="material-icons">visibility</span>
                        //- div.view(class="btn btn-outline-dark")
                        //-     <span class="material-icons">visibility_off</span>
                    li(class="list-group-item") Seb
                        div.kick(class="btn btn-outline-danger")
                            <span class="material-icons">cancel</span>
                        //- div.view(class="btn btn-outline-dark")
                        //-     <span class="material-icons">visibility</span>
                        //- div.view(class="btn btn-outline-dark")
                        //-     <span class="material-icons">visibility_off</span>
                    li(class="list-group-item") Daniel
                        div.kick(class="btn btn-outline-danger")
                            <span class="material-icons">cancel</span>
                        //- div.view(class="btn btn-outline-dark")
                        //-     <span class="material-icons">visibility</span>
                        //- div.view(class="btn btn-outline-dark")
                        //-     <span class="material-icons">visibility_off</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-danger")
                            <span class="material-icons">cancel</span>
                        //- div.view(class="btn btn-outline-dark")
                        //-     <span class="material-icons">visibility</span>
                        //- div.view(class="btn btn-outline-dark")
                        //-     <span class="material-icons">visibility_off</span>

        //- Inventory
        div.inventory
            //- Money
            article.money
                h3 Money
                div.money
                    div(class="input-group")
                        input(type="number", class="form-control disabled", disabled)
                        span(class="input-group-text") €
                    div(class="input-group")
                        input(type="number", class="form-control")
                        input(type="button", value="Post", class="btn btn-outline-secondary")

            //- New Item
            article.new-item
                form
                    fieldset.new-item-form
                        legend New Item
                        div
                            div(class="form-floating")
                                input#new-name(type="text", name="name", placeholder="Name", class="form-control")
                                label(for="new-name") Name
                            div(class="form-floating")
                                input#new-quantity(type="number", name="quantity", placeholder="0", class="form-control")
                                label(for="new-quantity") Quantity
                            div(class="form-floating")
                                input#new-categories(type="text", name="categories", placeholder="#categorie1#categorie2", class="form-control")
                                label(class="form-label") Categories
                        div
                            div(class="form-floating")
                                textarea#new-description(name="description", placeholder="Enter a description for this item", class="form-control")
                                label(for="new-description") Description
                            div(class="form-floating")
                                textarea#new-notes(name="notes", placeholder="Enter your notes for this item", class="form-control")
                                label(for="new-notes") Notes
                        div
                            input(type="button", value="Save", class="btn btn-success")
                            input(type="button", value="Cancel", class="btn btn-danger")
                        
            //- Items
            article.items
                h3 Items

                div#item-accordion(class="accordion")
                    //- Item id:001
                    div(class="accordion-item")
                        h2(class="accordion-header" id="item-heading-001")
                            button(class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#item-collapse-001" aria-expanded="true" aria-controls="item-collapse-001") 
                                | Müllnir Hammer
                    div(id="item-collapse-001" class="accordion-collapse collapse" aria-labelledby="item-heading-001")
                        div(class="accordion-body")
                            | test ...

                    //- Item id:002
                    div(class="accordion-item")
                        h2(class="accordion-header" id="item-heading-002")
                            button(class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#item-collapse-002" aria-expanded="true" aria-controls="item-collapse-002") 
                                | BlaBlaguar Axt
                    div(id="item-collapse-002" class="accordion-collapse collapse" aria-labelledby="item-heading-002")
                        div(class="accordion-body")
                            | test ...

                    //- Item id:003
                    div(class="accordion-item")
                        h2(class="accordion-header" id="item-heading-003")
                            button(class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#item-collapse-003" aria-expanded="true" aria-controls="item-collapse-003") 
                                div.item-name Lauras Morgenstern
                    div(id="item-collapse-003" class="accordion-collapse collapse" aria-labelledby="item-heading-003")
                        div(class="accordion-body")
                            label(class="fw-lighter") Description
                                p.item-description Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea tak
                            label(class="fw-lighter") Notes
                                p.item-notes Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam volu
                            label(class="fw-lighter") Categories
                                div.categories #a #b #c
                            label(class="fw-lighter") Quantits
                                div
                                    small.item-quantity 15x
