extends ../../layout

block content
    div.main
        aside
            h5.heading Player List
            div.player-list
                ul(class="list-group")
                    li(class="list-group-item") Du
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                        div.view(class="btn btn-outline-dark")
                            <span class="material-icons">visibility</span>
                        div.view(class="btn btn-outline-dark")
                            <span class="material-icons">visibility_off</span>
                    li(class="list-group-item") Seb
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Daniel
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-dark")
                            <span class="material-icons">cancel</span>

        article.inventory
            div
                h3 Money
                div.money
            div
                h3 Items
                div.items
