.main {
    display: flex;
    width: 100vw;
    height: 100vh;
}

aside {
    height: 100vh;
    padding: 2rem;
} .player-list {
    max-height: 100%;
    overflow-y: scroll;
}

.heading {
    text-align: center;
}



.inventory {
    margin: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.money {
    display: flex;
    flex-direction: row;
}
.money div {
    margin: 1rem;
    margin-bottom: 2rem;
}
.new-item-form {
    margin: 1rem;
    margin-bottom: 2rem;
} .new-item-form div {
    margin: 1rem;
}


fieldset .form-floating {
    margin: 1rem;
}

.new-item-form-buttons input {
    margin-right: 1rem;
}
