.main {
    display: flex;
    width: 100vw;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}
.heading {
    /*text-align: center;*/
}



aside {
    height: 100vh;
    width: 20rem;
    padding: 1rem;
}
#players-list {
    overflow-y: scroll;
    max-height: 90%;
}

.users-list {
    width: 100%;
    display: flex;
}

.inventory {
    margin: 1rem;
    display: flex;
    flex-direction: column;

    width: 100%;
    margin-right: 2rem;
}


.money {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.money div {
    margin: .5rem;

}
.new-item-form {
    margin: 1rem;
    margin-bottom: 2rem;
} .new-item-form div {
    margin: 1rem;
}


fieldset .form-floating {
    margin: 1rem;
}

.new-item-form-buttons input {
    margin-right: 1rem;
}
