extends ../layout

block content
    div#new-inventory-modal(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby='staticBackdropLabel' aria-hidden='true', class="modal fade")
        div(class="modal-dialog modal-dialog-centered modal-dialog-scrollable")
            div(class="modal-content")
                form#mew-inventory-form(onsubmit="return false")
                    fieldset
                        div(class="modal-header")
                            h5#new-inventory-modal-Label.modal-title Invite User
                        div(class="modal-body")
                            div
                                div(class="form-floating")
                                    input#new-inventory-for-user(type="text", name="name", placeholder="For", class="form-control")
                                    label(for="new-inventory-for-user") Username
                        div(class="modal-footer")
                            div.new-item-form-buttons
                                input(type="submit", data-bs-dismiss='modal', value="Save" class="btn btn-success", onclick="submit_inventory()")
                                input(type="reset", data-bs-dismiss='modal', value="Cancel", class="btn btn-secondary")


    div#new-item-modal(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby='staticBackdropLabel' aria-hidden='true', class="modal fade")
        div(class="modal-dialog modal-dialog-centered modal-dialog-scrollable")
            div(class="modal-content")
                form#mew-item-form(onsubmit="return false")
                    fieldset
                        div(class="modal-header")
                            h5#new-item-modal-Label.modal-title New Item
                        div(class="modal-body")
                            div
                                div(class="form-floating", style="display:none")
                                    input#new-item-id(type="number", name="name", placeholder="Name", class="form-control")
                                    label(for="new-item-id") Id
                                div(class="form-floating")
                                    input#new-item-name(type="text", name="name", placeholder="Name", class="form-control")
                                    label(for="new-item-name") Name
                                div(class="form-floating")
                                    input#new-item-quantity(type="number", name="quantity", placeholder="0", class="form-control")
                                    label(for="new-item-quantity") Quantity
                                div(class="form-floating")
                                    textarea#new-item-description(name="description", placeholder="Enter a description for this item", class="form-control")
                                    label(for="new-item-description") Description
                                div(class="form-floating")
                                    textarea#new-item-notes(name="notes", placeholder="Enter your notes for this item", class="form-control")
                                    label(for="new-item-notes") Notes
                        div(class="modal-footer")
                            div.new-item-form-buttons
                                input(type="submit", data-bs-dismiss='modal', value="Save" class="btn btn-success", onclick="submit_item()")
                                input(type="reset", data-bs-dismiss='modal', value="Cancel", class="btn btn-secondary")



    div.main
        //- User List
        aside
            div
                header
                    h5.heading Inventories
                    button(type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#new-inventory-modal")
                        | +
                div#inventories-list.inventory-container(class="list-group")
            div
                ul#player-list(class="list-group")
                    header
                        h5.heading Players
                        //button(type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#new-player-modal")
                        //    | +


        //- Inventory
        div.inventory
            //- Money
            article.money
                header
                    h3 Money
                div.money
                    div(class="input-group")
                        input#money-out(type="number", class="form-control disabled", disabled)
                        span(class="input-group-text") €
                    div(class="input-group")
                        input#money-in(type="number", class="form-control")
                        button#add_money_btn(class="btn btn-outline-secondary", style="width:2rem", onclick="submit_money()") +
                        button#sub_money_btn(class="btn btn-outline-secondary", style="width:2rem", onclick="submit_money(true)") -

            //- Items
            article.items
                header
                    h3 Items
                    button(type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#new-item-modal")
                        | +

                div#items-list(class="accordion")
                    //- Items will be added here


    // Template for an item (accordion)
    template#item-template
        div.item
            div(class="accordion-item")
                h2.ref1(class="accordion-header")
                    button.ref2(class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="" aria-expanded="true" aria-controls="")
                        div.item-name
            div.ref3(class="accordion-collapse collapse" aria-labelledby="")
                div(class="accordion-body")
                    div.item-id(style="display: none")

                    label(class="fw-lighter") Quantity
                    div.item-quantity

                    label(class="fw-lighter") Description
                    p.item-description

                    label(class="fw-lighter") Notes
                    p.item-notes

                    button.item-delete(class="delete btn btn-outline-dark", onclick="delete_item(Number(this.getAttribute('itemid')));", itemid="")
                        span(class="material-icons") delete

    template#inventory-template
        div.users-list(class="list-group-item list-group-item-action list-group-item-light")
            div(class="input-group")
                input.inventory-name(type="text", class="form-control" disabled="true")
                div.inventory-remove-button(class="btn btn-outline-danger", onclick="delete_inventory(this.getAttribute('inventoryid'))", inventoryid="")
                    span(class="material-icons") cancel
                div.inventory-view-button(class="btn btn-outline-primary", onclick="change_inventory(this.getAttribute('inventoryid'))", inventoryid="")
                    span(class="material-icons") visibility

    template#player-template
        li(class="list-group-item list-group-item-action")
            span(class="material-symbols-outlined", style="display: none") star

    script(src="/javascripts/board/view.js")
