extends ../layout

block content
    div.main
        //- User List
        aside
            h5.heading User List
            div.player-list
                ul(class="list-group")
                    li(class="list-group-item") Du
                        div.kick(class="btn btn-outline-danger")
                            <span class="material-icons">cancel</span>
                        //- div.view(class="btn btn-outline-dark")
                        //-     <span class="material-icons">visibility</span>
                        //- div.view(class="btn btn-outline-dark")
                        //-     <span class="material-icons">visibility_off</span>
                    li(class="list-group-item") Seb
                        div.kick(class="btn btn-outline-danger")
                            <span class="material-icons">cancel</span>
                        //- div.view(class="btn btn-outline-dark")
                        //-     <span class="material-icons">visibility</span>
                        //- div.view(class="btn btn-outline-dark")
                        //-     <span class="material-icons">visibility_off</span>
                    li(class="list-group-item") Daniel
                        div.kick(class="btn btn-outline-danger")
                            <span class="material-icons">cancel</span>
                        //- div.view(class="btn btn-outline-dark")
                        //-     <span class="material-icons">visibility</span>
                        //- div.view(class="btn btn-outline-dark")
                        //-     <span class="material-icons">visibility_off</span>
                    li(class="list-group-item") Henning
                        div.kick(class="btn btn-outline-danger")
                            <span class="material-icons">cancel</span>
                        //- div.view(class="btn btn-outline-dark")
                        //-     <span class="material-icons">visibility</span>
                        //- div.view(class="btn btn-outline-dark")
                        //-     <span class="material-icons">visibility_off</span>


        //- Inventory
        div.inventory
            //- Money
            article.money
                h3 Money
                div.money
                    div(class="input-group")
                        input#money-out(type="number", class="form-control disabled", disabled)
                        span(class="input-group-text") €
                    div(class="input-group")
                        input#money-in(type="number", class="form-control")
                        button(class="btn btn-outline-secondary", style="width:2rem") +
                        button(class="btn btn-outline-secondary", style="width:2rem") -


            div#new-item-modal(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby='staticBackdropLabel' aria-hidden='true', class="modal fade")
                div(class="modal-dialog modal-dialog-centered modal-dialog-scrollable")
                    div(class="modal-content")
                        form#mew-item-form(onsubmit="return false")
                            fieldset
                                div(class="modal-header")
                                    h5#new-item-modal-Label.modal-title New Item
                                div(class="modal-body")
                                    div
                                        div(class="form-floating", style="display:none")
                                            input#new-id(type="number", name="name", placeholder="Name", class="form-control")
                                            label(for="new-id") Id
                                        div(class="form-floating")
                                            input#new-name(type="text", name="name", placeholder="Name", class="form-control")
                                            label(for="new-name") Name
                                        div(class="form-floating")
                                            input#new-quantity(type="number", name="quantity", placeholder="0", class="form-control")
                                            label(for="new-quantity") Quantity
                                        div(class="form-floating")
                                            textarea#new-description(name="description", placeholder="Enter a description for this item", class="form-control")
                                            label(for="new-description") Description
                                        div(class="form-floating")
                                            textarea#new-notes(name="notes", placeholder="Enter your notes for this item", class="form-control")
                                            label(for="new-notes") Notes
                                div(class="modal-footer")
                                    div.new-item-form-buttons
                                        input(type="submit", data-bs-dismiss='modal', value="Save" class="btn btn-success", onclick="submit_item()")
                                        input(type="reset", data-bs-dismiss='modal', value="Cancel", class="btn btn-secondary")


            //- Items
            article.items
                div
                    h3 Items
                    button(type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#new-item-modal")
                        | +

                div#item-list(class="accordion")
                    //- Items will be added here


    // Template for an item (accordion)
    template#item-template
        item
            div(class="accordion-item")
                h2.ref1(class="accordion-header")
                    button.ref2(class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="" aria-expanded="true" aria-controls="")
                        div.item-name
            div.ref3(class="accordion-collapse collapse" aria-labelledby="")
                div(class="accordion-body")
                    div.item-id(style="display: none")

                    label(class="fw-lighter") Quantity
                    div.item-quantity

                    label(class="fw-lighter") Description
                    p.item-description

                    label(class="fw-lighter") Notes
                    p.item-notes



    script(src="/javascripts/view.js")
